# Basic of Python

## In this section we will discuss about
- Various Datatypes in Python
- Variable
- Variables Assignment
- Print Formatting

# Various DataTypes in Python

## Numbers

In [1]:
1+1

2

In [2]:
4*5

20

In [3]:
2*10

20

In [4]:
10/2

5.0

In [5]:
10%2

0

In [6]:
10**2

100

In [7]:
10 * 'python'

'pythonpythonpythonpythonpythonpythonpythonpythonpythonpython'

In [8]:
##Check the Data types

In [9]:
type(1)

int

In [10]:
type("Hello")

str

In [11]:
type(10.0)

float

In [12]:
type(True)

bool

## Strings

In [13]:
"Hello"

'Hello'

In [14]:
'World'

'World'

In [15]:
type("Hello")

str

In [16]:
type('World')

str

## Variable Assignement

In [17]:
# syntax
# var_name=values
a = 10

In [18]:
a

10

In [19]:
type(a)

int

In [20]:
a='Hello World'

In [21]:
type(a)

str

In [22]:
## Mathematical operation with variable assignment
a=10
b=20

In [25]:
print(a*b)
print(a/b)
print(a%b)
print((a*b)+(a/b))  #BODMAS Rule

200
0.5
10
200.5

In [26]:
## Various ways of printing
print("Hello")

Hello

In [27]:
first_name = 'Riddhi'
last_name = 'Shrestha'

In [28]:
print("My first nam is {} and last name is {}".format(first_name,last_name))

My first nam is Riddhi and last name is Shrestha

In [29]:
print("My first name is {first} and last name is {last}".format(first=first_name,last=last_name))

My first name is Riddhi and last name is Shrestha

In [30]:
len('Riddhi')

6

In [31]:
type(['1',2,3,4,True])

list

In [1]:
tup = 1,2,3

In [2]:
tup

(1, 2, 3)

In [3]:
a = 1,2,3

In [4]:
a

(1, 2, 3)

In [7]:
b = (list('Riddhi'))

In [8]:
b

['R', 'i', 'd', 'd', 'h', 'i']

In [9]:
tup = 1,2,3,4,5,6

In [10]:
a,b,*_=tup

In [11]:
a

1

In [12]:
b

2

In [14]:
_

[3, 4, 5, 6]