## Python Data Structures and Boolean
- Boolean
- Boolean and Logical Operators
- Lists
- Comparision operators
- Dictionaries
- Tuples
- Sets

## Boolean Variables
Boolean values are the two constant objects False and True.

They are used to represent truth values (other values can also be considered false or true).

In numeric contexts (for example, when used as the argument to an arithmetic operator), they behave like the integers 0 and 1, respectively.

The build-in function bool() can be used to cast any value to a Boolean. If the value can be interpreted as a truth value.

They are written as False and True, respectively.

In [4]:
True

True

In [2]:
print(True,False)

True False

In [3]:
type(True)

bool

In [5]:
type(False)

bool

In [13]:
my_str1 = "RiddhiShrestha123"
my_str1.isalnum()

True

In [11]:
my_str = "Riddhi Shrestha"

In [14]:
print(my_str.isalnum())  # check if all char are numbers
print(my_str.isalpha())  # check if all char in the string are alphabetic
print(my_str.isdigit())  # test if string contains digits
print(my_str.istitle())  # test if string contains title words i.e first capital letter
print(my_str.isupper())  # test if string contains upper case
print(my_str.isspace())  # test if string contains spaces
print(my_str.endswith('a')) # test if string endswith a
print(my_str.startswith('R'))  # test if string startwith R

False
False
False
True
False
False
True
True

## Boolean and Logical Operators

In [16]:
True and True

True

In [17]:
True and False

False

In [18]:
True or False

True

In [19]:
True or True

True

In [22]:
str_example='Hello World'
my_str='Riddhi'

In [23]:
my_str.isalpha() or str_example.isnumeric()

True

## Lists
A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets []

In [1]:
type([])

list

In [2]:
lst_examples=[]

In [3]:
type(lst_examples)

list

In [4]:
lst=list()

In [5]:
lst=['Physics','Chemistry',100,200,200.5]

In [6]:
type(lst)

list

In [7]:
len(lst)

5

## Append

In [8]:
# append is used to add elements in the list
lst.append("Riddhi")

In [9]:
lst

['Physics', 'Chemistry', 100, 200, 200.5, 'Riddhi']

In [15]:
lst.append(['Prem','Ashok'])

In [17]:
lst   ## Here we append a list to exising list; which is known as nested list

['Physics', 'Chemistry', 100, 200, 200.5, 'Riddhi', ['Prem', 'Ashok']]

In [10]:
## indexing in list
lst[2]

100

In [11]:
lst[3]

200

In [14]:
lst[1:6]

['Chemistry', 100, 200, 200.5, 'Riddhi']

## Insert

In [18]:
## insert in a specific order
lst.insert(1,"Siddhi")

In [19]:
lst

['Physics',
 'Siddhi',
 'Chemistry',
 100,
 200,
 200.5,
 'Riddhi',
 ['Prem', 'Ashok']]

In [20]:
lst.append(["Hello","World"])

In [21]:
lst

['Physics',
 'Siddhi',
 'Chemistry',
 100,
 200,
 200.5,
 'Riddhi',
 ['Prem', 'Ashok'],
 ['Hello', 'World']]

## Extend Method

In [27]:
lst=[1,2,3]  # extend method add element as seperate item to existing lists

In [23]:
lst.append([4,5])

In [24]:
lst

[1, 2, 3, [4, 5]]

In [25]:
lst.extend([6,7])

In [26]:
lst

[1, 2, 3, [4, 5], 6, 7]

## Various Operations that we can perform in List

In [28]:
lst=[1,2,3,4,5]

In [29]:
sum(lst)

15

In [45]:
lst*2  # the whole list appended again

[1, 1, 2, 3, 4, 5, 1, 1, 2, 3, 4, 5]

## Pop() method

In [31]:
lst.pop()  # pick last element and remove it

4

In [33]:
lst

[1, 2, 3]

In [36]:
lst.pop(0)  # pick index 0 element to remove

2

In [37]:
lst

[3]

## count(): Calculates total occurance of given of List

In [38]:
lst=[1,1,2,3,4,5]
lst.count(1)

2

In [39]:
#length:Calculates total length of list
len(lst)

6

In [41]:
# index(): Returns the index of first occurence. Start and End index are not necessary parameters
lst.index(1,1,4)  #value,startindex,stopindex

1

In [42]:
##min and max
min(lst)

1

In [43]:
max(lst)

5